@import "theme.scss";
@import "timer-range-input";
@import "projects";

body, html {
  font-family: 'Palanquin', sans-serif;
  background-color: $primary;
  color: #fff;
  font-weight: 100;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: $primary;
  border-bottom: solid 1px darken($primary, 1);
  z-index: 10;
  text-align: center;
  white-space: nowrap;
  overflow-x: scroll;

  a {
    display: inline-block;
    padding: 0 1em;
    color: #fff;
  }

  h2 {
    margin: 0;
    display: inline-block;
  }
}

.content {
  margin-top: 44px;
}


h1, h2, h3, h4 {
  text-align: center;
  font-weight: 100;
}

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 1em 0;
  text-transform: lowercase;
}

.padded {
  padding: 0 1em;
}

.centered {
  margin: auto;
}

.mobile-width > * {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.right-align {
  float: right;
}



.animated {

}

.animated-fade-in-out {
  animation: fade-in 1s cubic-bezier(0.65, 0.05, 0.36, 1);
}
@keyframes fade-in {
  0%  { opacity: 1 } 
  25% { opacity: 0 }
  100% { opacity: 1 }
}