<div class="new-project">
  <div class="new-project-inputs {{ if newProjectFormIsVisible 'visible' }}">
    <label for="new-project-name">Create a new project</label>
    {{input id="new-project-name" type="text" value=newProjectName required='required'}}
  </div>
  <button {{action 'newProjectClick'}}>Create</button>
</div>