<div class="centered mobile-width">

  {{partial 'new-project'}}

  {{#each model as |project|}}

  {{#link-to 'project' project.slug class="project"}}
    <h2>{{project.name}}</h2>
  {{/link-to}}

  {{/each}}

</div>